<!DOCTYPE html>
<!--引入shiro的标签库-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery.js文件 -->
    <script type="text/javascript" src="../jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标的css文件 -->
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/icon.css">
    <script src="../echarts.min.js"></script>

</head>
<body>
<div id="tools">
    <a shiro:hasPermission="user:addUser" href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
    <a href="../user/exportExcel?filename=用户表格.xls" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">导出</a>
    <a href="javascript:openUserExcel()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">导入</a>
    <a  href="javascript:exportlUserExcel2()" class="easyui-linkbutton">导出百万到ExceL</a>
    <a href="../page/toDitu" class="easyui-linkbutton">地图</a>
    <a href="javascript:openEcherts()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">报表图</a>
</div>
<table id="mytable"></table>

<div id="importExcelDialog" class="easyui-dialog" data-options="title:'导入用户信息',modal:true,closed:true,buttons:'#excelButtons'" style="width: 300px;height: 200px">
    <form id="excelForm" method="post" enctype="multipart/form-data">
        <input name="file" class="easyui-filebox"/>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="excelButtons">
    <a href="javascript:importExcel()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
</div>


<div id="echertsDialog" class="easyui-dialog" data-options="closed:true,width:700,height:500,modal:true,buttons:'#echartsButtons'">
    <div id="echertsId" style="width: 90%;height:600px;border-bottom: brown;" ></div>
</div>
<div id="echartsButtons">
    <a href="javascript:closeEchertsDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">关闭</a>
</div>

<!-- 定义新增的div -->
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:500,height:400,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="usid" style="display:none">
        <table>
            <tr>
                <td>姓名</td>
                <td><input class="easyui-textbox" name="usname"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input class="easyui-textbox" name="uspass"></td>
            </tr>
            <tr>
                <td>角色</td>
                <td><input class="easyui-combobox" name="rid" id="role" data-options="width:180"></td>
            </tr>
        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a shiro:hasPermission="user:addUser" href="javascript:saveUser()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>

</body>
<script>
    $(function(){
        initTable();
    })

    function  exportlUserExcel2(){
        location.href="../user/exportlUserExcel2";
    }

    function openEcherts() {
        $("#echertsDialog").dialog('open');
        initEcherts();
    }

    function closeEchertsDialog() {
        $("#echertsDialog").dialog('close');
    }

    function initEcherts() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echertsId'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    
    

    function importExcel(){
        $("#excelForm").form('submit',{
            url:'../user/importExcel',
            success:function (data) {
                initTable();
                $("#importExcelDialog").dialog('close');
            }
        })
    }
    function openUserExcel(){
        $("#importExcelDialog").dialog('open')
    }
    //初始化角色的下拉列表
    function initRole(){
        $("#role").combobox({
            url:"../user/queryRole",
            valueField:"rid",
            textField:"rname",
            multiple:true
        })
    }
    //导出用户信息
    function expExcel() {
        location.href = "../user/exportContentList";
    }


    function  initTable(){
        $('#mytable').datagrid({
            url:'../user/queryUser',
            pagination:true,
            pageSize:10,
            columns:[
                [
                {field:'usid',title:'编号',width:100},
                {field:'usname',title:'姓名',width:100},
                {field:'uspass',title:'密码',width:100},
                    {field:'rname',title:'角色',width:100},
                    {field:"tool",title:"操作",formatter:function(value,row,index){
                            var str = "<a href='javascript:openUpdate("+row.usid+")'>修改</a>";
                            return str;
                     }}
            ]
            ]
        });

    }
    //打开修改弹框：回显表单数据
    function openUpdate(userId){
        $.ajax({
            url:"../user/queryUserById",
            type:"post",
            data:{userId:userId},
            success:function(data){
                //解决角色空值回显问题
                if(data.rid==null){
                    data.rid="";
                }
                initRole();//初始化角色数据
                //回显表单数据
                $("#userForm").form("load",data);
                //解决角色空值回显问题
                if(data.rid==""){
                    $("#role").combobox("clear");
                }
                //打开弹框
                $("#userDialog").dialog({
                    closed:false,
                    title:'修改用户'
                });
            }
        })
    }
    //保存用户
    function saveUser(){
        $("#userForm").form("submit",{
            url:"../user/addUser",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $("#mytable").datagrid("load")
            }
        });
    }
    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }
    //打开新增弹框
    function openAdd(){
        //清除表单缓存
        $("#userForm").form("reset");
        initRole();//初始化角色
        $("#userDialog").dialog({
            closed:false,
            title:'新增用户'
        });

    }
</script>
</html>